@using Tareas

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </thead>

    @if (Model != null && Model.Any())
    {
        <tbody>
            @foreach (var tarea in Model)
            {
                <tr>
                    <td>@tarea.Name</td>
                    <td>@tarea.Description</td>
                    <td>@tarea.DueDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@tarea.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr>
            <td colspan="4">No tasks found.</td>
        </tr>
    }
</table>

<a asp-action="Create">Create New Tarea</a>
<form asp-action="Create">
    
    <button type="submit">Create</button>
</form>

<a asp-action="Index">Back to List</a>