@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
}

<h1>@ViewData["About Us"]</h1>
<p>This is the About page.</p>
<p>AppTareas 1.0</p>
<p>Esta aplicación fue creada para gestionar tareas de manera sencilla y eficiente.</p>
<p>Desarrollada con ASP.NET Core MVC como parte de un proyecto de aprendizaje.</p>