@model Tareas.Model.Tarea

@{
    ViewData["Title"] = "Crear Tarea";
}

<h2>Crear Nueva Tarea</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Done" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="Done" class="form-check-input" />
        <label asp-for="Done" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
