html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        position: relative;
        min-height: 100%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

/* styles.css */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* Estilos generales para todos los botones */
button {
    background: linear-gradient(135deg, #007bff, #0056b3); /* Degradado azul */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

    /* Efecto hover */
    button:hover {
        background: linear-gradient(135deg, #0056b3, #003d82);
        transform: scale(1.05);
    }

    /* Estilo de los botones cuando están deshabilitados */
    button:disabled {
        background: #ccc;
        color: #666;
        cursor: not-allowed;
        transform: none;
        box-shadow: none;
    }

/* Contenedor de los botones de paginación */
#pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* Texto informativo de paginación */
#pageInfo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#numPetsToAdd {
    display: inline-block; /* Asegura que el input esté visible */
    visibility: visible; /* Asegura que no esté oculto */
    width: 30px; /* Ajusta el tamaño */
    padding: 5px;
    font-size: 16px;
}
/* Estilos para la etiqueta similar al botón */
label {
    display: inline-block;
    background: linear-gradient(135deg, #007bff, #0056b3); /* Degradado azul */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

    /* Efecto hover */
    label:hover {
        background: linear-gradient(135deg, #0056b3, #003d82);
        transform: scale(1.05);
    }

    /* Estilo de la etiqueta cuando está deshabilitada */
    label:disabled {
        background: #ccc;
        color: #666;
        cursor: not-allowed;
        transform: none;
        box-shadow: none;
    }